<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bahri.spray" >

    <uses-sdk android:minSdkVersion="18" />
    <!-- push -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--
      IMPORTANT: Change "com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.bahri.spray.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.bahri.spray.permission.C2D_MESSAGE" />
    <!-- replace @drawable/push_icon with your push icon identifier -->
    <meta-data
        android:name="com.parse.push.notification_icon"
        android:resource="@drawable/spray" />
    <!-- push -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Declaration that this app is usable on phones with Bluetooth Low Energy. -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- Estimote service responsible for scanning beacons. -->


    <application
        android:name=".Model.ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_final"
        android:label="@string/app_name"
        android:theme="@style/SprayTheme"
        android:uiOptions="splitActionBarWhenNarrow" >
        <service
            android:name="com.estimote.sdk.service.BeaconService"
            android:exported="false" />
        <activity
            android:name=".Controller.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".Controller.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/SprayTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.Welcome"
            android:label="@string/title_activity_welcome" >
        </activity>
        <activity
            android:name=".Controller.SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".Controller.TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/SprayTheme"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".Controller.MainTabActivity"
            android:label="@string/title_activity_tab_test_activity"
            android:screenOrientation="portrait"
            android:theme="@style/SprayTheme" >
        </activity>
        <activity
            android:name=".Controller.SprayToActivity"
            android:label="@string/title_activity_spray_to"
            android:parentActivityName=".Controller.MainTabActivity"
            android:theme="@style/SprayTheme" >
        </activity>
        <activity
            android:name=".Controller.ChooseRecipientActivity"
            android:label="@string/title_activity_choose_recipient"
            android:parentActivityName=".Controller.SprayToActivity" >
        </activity>
        <activity
            android:name=".Controller.SprayMediaActivity"
            android:label="@string/title_activity_spray_to_all" >
        </activity>
        <activity
            android:name=".Controller.SprayToGroupActivity"
            android:label="@string/title_activity_spray_to_group" >
        </activity>
        <activity
            android:name=".Controller.ImagePreviewActivity"
            android:label="@string/title_activity_image_preview" >
        </activity>
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-61c3y9t99mqkzyu" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.DropBoxActivity"
            android:icon="@drawable/dropboxicon"
            android:label="DropBox" >
        </activity>

        <!-- *********************************push********************************* -->
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name. -->
                <category android:name="com.bahri.spray" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Controller.DropBoxNewActivity"
            android:label="@string/title_activity_drop_box_new" >
        </activity>
        <activity
            android:name=".Controller.CellularCellActivity"
            android:label="@string/title_activity_cellular_cell" >
        </activity>
        <activity
            android:name=".Controller.WifiActivity"
            android:label="@string/title_activity_wifi" >
        </activity>
        <activity
            android:name=".Controller.BlueToothActivity"
            android:label="@string/title_activity_blue_tooth" >
        </activity>
    </application>

</manifest>
